/* You can add global styles to this file, and also import other style files */

html{
  box-sizing: border-box;
}

main{
  max-width: 1800px;
  margin: 0 auto;
}


:root{
   // colors css variable
  --color-white: #ffffff;
  --color-light-grey1: #EFF0F3;
  --color-light-grey2: #E4E5E9;
  --color-grey: #C0C0C0;
  --color-dark-grey: #9A9494;
  --color-black: #2B2C34;
  --color-brand: #6246EA;
}
